 body {
           font-family: cursive;
		   font-size: 20px;
		   background-color: #0B0B3B; /*темно синий*/
		   color: #81F7F3;                      /*неоновый*/
		   text-decoration: overline;
           }
		   
p.green_text  { color: green; } 
				 